/*
.show {
    display: none;
}
*/

div, h5 {
    width: 320px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
/*    font-family: 'Alegreya Sans', sans-serif;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-size: 1.3em;*/
}